

<h2 class="color-b3">Highlight Component</h2>



{{>components/sas-highlight/sas-highlight
    
    heading='heading_TEXT'
    text='this is fancy text'
}}

<pre>
<code class="language-html">
{{>components/sas-highlight/sas-highlight
heading='heading_TEXT'
text='this is fancy text'
}}
</code>
</pre>




{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    
    text='this is fancy text'
}}
<pre>
<code class="language-html">
{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    
    text='this is fancy text'
}}
</code>
</pre>

{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    heading='heading_TEXT'
    text='this is fancy text'
}}
<pre>
<code class="language-html">
{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    heading='heading_TEXT'
    text='this is fancy text'
}}
</code>
</pre>
{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    heading='heading_TEXT'
  
}}
<pre>
<code class="language-html">
{{>components/sas-highlight/sas-highlight
    icon='cl--alert-circle'
    heading='heading_TEXT'
  
}}
</code>
</pre>
{{>components/sas-highlight/sas-highlight
    
    text='this is fancy text'
}}
<pre>
<code class="language-html">
{{>components/sas-highlight/sas-highlight
    
    text='this is fancy text'
}}
</code>
</pre>