<div class="sas-highlight">
    {{#if icon}}
    {{>partials/icons/svgInternal name=icon}}
    {{/if}}
    {{#if heading}}
    <h3>{{heading}}</h3>
    {{/if}}
    {{#if text}} 
    <div class="rich-text">{{{text}}}</div>
    {{/if}}
</div>