<h2 class="color-b3">Typography</h2>

<h3 class="color-b3">Headline</h3>
<div class="typo-headline">
  <h1 class="lg">H1 large - 40px 48lh</h1>
  <h1 class="sm">H1 - 32px 40lh</h1>
  <h2>H2 - 24px 28lh</h2>
  <h3>H3 - 18px 24lh </h3>
  <h4>H4 - 14px 20lh</h4>
  <h5>H5 - 12px 16lh</h5>
</div>
<pre>
  <code class="language-html">
     <h1>This is a heading</h1>
     <h2>This is a heading</h2>
     <h3>This is a heading</h3>
     <h4>This is a heading</h4>
     <h5>This is a heading</h5>
  </code>
</pre>

<h3 class="color-b3">Paragraph</h3>
<div class="typo-paragraph">
  <p class="p3">P3 - 24px 36lh - Lorem ipsum dolor sit amet</p>
  <p class="p2">P2 - 16px 24lh - Lorem ipsum dolor sit amet</p>
  <p class="p1">P1 - 14px 20lh - Lorem ipsum dolor sit amet</p>
  <p class="p1-sm">P1 Small - 12px 16lh - Lorem ipsum dolor sit amet</p>
  <p class="p1-xs">P1 XSmall - 10px 12lh - Lorem ipsum dolor sit amet</p>
</div>
<pre>
  <code class="language-html">
     <p>Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Example of headings and paragraphs</h3>
<article>
  <h1>Main heading (h1)</h1>
  <h2>Secondary heading (h2)</h2>
  <p class="p3">Teaser  (.teaser-text, .p3) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique ligula ut metus dapibus, at consectetur quam mollis.</p>
  <p class="p2">Preamble (.preamble-text, .p2) Nunc eget leo tempus, vulputate tortor et, convallis tellus. Integer tempus a leo sed suscipit. Nunc eget quam sollicitudin, sagittis libero ac, volutpat leo. Vestibulum consectetur consectetur ligula, ac feugiat justo vulputate eget. </p>
  <p>Brödtext Nunc sed lacus venenatis, volutpat ligula ut, condimentum mauris. Phasellus sit amet nibh nisi. Donec malesuada ultricies dolor. Praesent quis erat nec urna ultrices tincidunt. Suspendisse a velit at turpis aliquam ullamcorper. Morbi diam neque, finibus malesuada tincidunt sit amet, consectetur a ligula. Mauris rutrum elit eu lacus facilisis imperdiet.</p>
  <h3>Next heading level (h3)</h3>
  <p>Nunc sed lacus venenatis, volutpat ligula ut, condimentum mauris. Phasellus sit amet nibh nisi. Donec malesuada ultricies dolor. Praesent quis erat nec urna ultrices tincidunt. Suspendisse a velit at turpis aliquam ullamcorper. Morbi diam neque, finibus malesuada tincidunt sit amet, consectetur a ligula. Mauris rutrum elit eu lacus facilisis imperdiet.</p>
  <h4>Fourth heading level (h4)</h4>
  <p>Vivamus vel porttitor est. Curabitur euismod et felis vitae suscipit. Suspendisse congue aliquet lectus. Curabitur in est elit. In eu purus ut turpis lobortis tristique. Integer vitae ante sit amet augue sodales eleifend. Aliquam porttitor, eros in tincidunt lacinia, leo orci ultrices ipsum, a fringilla diam velit blandit augue.</p>
  <h5>Fifth (h5)</h5>
  <p>Ut placerat, orci et rhoncus iaculis, ligula purus convallis orci, id viverra odio felis eu eros. Vestibulum dictum libero vestibulum felis tincidunt, et vulputate massa sagittis. Morbi euismod nisl sapien, quis consequat nibh gravida quis. Suspendisse lacinia orci sed nisl finibus, efficitur pharetra nunc venenatis. Aenean hendrerit interdum dolor, id efficitur lectus bibendum a. Donec eu euismod ipsum. Cras vitae ligula hendrerit, pulvinar sapien quis, finibus ex. Suspendisse malesuada non est ac fermentum.</p>
  <p>Curabitur dictum augue quis neque placerat vehicula. Phasellus hendrerit bibendum libero, fringilla blandit sapien bibendum ac. Fusce venenatis elementum urna nec efficitur. Nunc non luctus mi. Ut lectus sapien, ultricies at leo viverra, dapibus egestas orci. Mauris condimentum vestibulum risus, egestas tincidunt nisl feugiat at. Quisque ullamcorper viverra sodales. Etiam fermentum mattis ipsum, sit amet varius sapien viverra non. Vivamus in luctus mauris. Duis et tellus efficitur augue aliquam porta sit amet non tellus.</p>
</article>


