<div class="burger-plate">
  <button class="burger">
    <span class="slice"></span>
    <span class="slice"></span>
    <span class="slice"></span>
  </button>
</div>
<a href="{{appPath}}/" class="logo">
  {{> partials/icons/svgInternal name="cl--logo"}}
</a>
<a href="/about" class="about">About</a>
<a href="/contact" class="contact">Contact</a>
