<h2 class="color-b3">Dos and don'ts</h2>

<h3 class="color-b3">General rules & regulations</h3>
<p>Have regular syncs with this Library document owners: (Anders, Linn, FrontEnd Dev)<br>
Never work in the original (library nor project) file<br>
Disable the autosave feature in Sketch (Preferences)</p>

<h3 class="color-b3">Before, during & After</h3>
<p>Check in with document owners before changing anything<br>
Never Create new components or styles without checking for a existent or similar behaviour<br>
Never leave a project (after handover) without updating final designs in this document<br>
Sync updates to Zeplin</p>

<h3 class="color-b3">Grid, symbols and templates</h3>
<p>Follow the 8 pixel grid, keeping the layout in the 12 columns. (So it scales for other resolutions).<br>
Always keep page templates as they state 0 (without changing states in components)<br>
Never nest symbols more than twice (2)<br>
Keep the same file structure and naming conventions<br>
Keep the Symbol Pages Organized</p>

<h3 class="color-b3">Scalability and consistancy</h3>
<p>Foster for components that are scalable for several resolutions<br>
Foster for consistency across the experience</p>
