.tool-main {
  & > .tool-nav {
    flex-basis: 280px;
    flex-shrink: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -90%;
    width: 85%;
    height: 100%;
    background-color: $white-color;
    padding: 100px 16px 16px;
    transition: left .5s;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, .15);
    overflow: auto;

    @include tablet {
      position: static;
      padding: 0;
      border: 0;
      box-shadow: none;
      overflow: initial;
    }

    .btn-toggle {
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  h1.color-b3 {
    @include font-size(40);
    text-transform: uppercase;
    color: $brand-color;
    margin-bottom: 32px;

    i {
      @include font-size(18);
      display: block;
      color: $r-color;
      text-transform: none;
      font-style: normal;
    }
  }

  .items {
    margin: -14px -12px -20px;

    a {
      @include font-size(14);
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: $text-color;

      &:hover,
      &:active {
        background-color: $g0-color;
      }
    }
  }

  .accordion {
    @include font-size(14);
    border-bottom: 1px solid #bfbcb5;

    &.init {
      opacity: 0;
    }

    &.expanded {
      > a,
      .toggle {
        color: $brand-color;
      }

      .icon {
        transform: rotate(90deg);
      }
    }

    a {
      display: block;
      padding: 19px 16px;
      text-decoration: none;
      color: $text-color;

      &:hover,
      &:active {
        background-color: $g0-color;
      }
    }

    .toggle {
      @include font-size(14);
      font-weight: 800;
      appearance: none;
      position: relative;
      border: 0;
      cursor: pointer;
      outline: none;
      background-color: transparent;
      width: 100%;
      padding: 19px 16px;
      text-transform: uppercase;
      text-align: left;

      &:hover,
      &:active {
        background-color: $g0-color;
      }
    }

    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 100%;
      text-indent: -10000px;
      overflow: hidden;
      background-size: 24px;
      transition: transform .25s;
    }

    > a {
      font-weight: 800;
      position: relative;
      text-transform: uppercase;
    }

    .items {
      overflow: hidden;
      transition: max-height .25s;
      padding: 1px;

      a {
        padding: 8px 16px;
      }
    }
  }
}
