<div style="margin: 16px auto; max-width: 1152px;">

  <s4s-accordion label="SAS for business">
    <div>Lorem ipsum dolor</div>
  </s4s-accordion>
  <s4s-accordion label="Får jag ta med bagage?">
    <div>Consetetur</div>
  </s4s-accordion>

</div>

{{> s4s-elements/s4s-accordions/scripts }}
