<div style="margin: 16px auto; max-width: 1152px;">

  <s4s-card
    image="/content/dam/sas/images/destinations/nordics/got_SB19526_1600x1000.jpg.transform/hero-large/img.jpg"
    heading="Våra erbjudanden just nu!"
    subheading="Bra priser till utvalda städer i Europa"
    button="Boka senast 28/1">
  </s4s-card>

  <s4s-demo></s4s-demo>

</div>

{{> s4s-elements/s4s-cards/scripts }}
