<flysas-modal heading="Flysas modal">
  <p>Lorem ipsum</p>
  <a href="#">www.sas.se</a>
  <button>Go fetch!</button>
</flysas-modal>

<script src="{{assetsDirectory}}/web-components/flysas-abstract-raw.js" defer></script>
<script src="{{assetsDirectory}}/web-components/flysas-modal-base-raw.js" defer></script>
<script src="{{assetsDirectory}}/web-components/flysas-modal-raw.js" defer></script>