$b0-color: #0087f5;
$b0-dark-color: #0076e8;
$b0-light-color: #e5f3fe;
$b1-color: #006ee6;
$b1-dark-color: #0159ce;
$b2-color: #03c;
$b2-dark-color: #001eb7;
$b3-color: #009;
$b3-dark-color: #03027b;
$b4-color: #006;
$b4-dark-color: #020148;
$b5-color: #003;
$b5-dark-color: #00001e;
