$g0-color: #f4f4f4;
$g0-dark-color: #eae9e8;
$g1-color: #d5d4d1;
$g1-dark-color: #c3c2be;
$g2-color: #bfbcb5;
$g2-dark-color: #a7a399;
$g3-color: #a7a299;
$g3-dark-color: #8a8479;
$g4-color: #757067;
$g4-dark-color: #68645c;
$g5-color: #3f3d3a;
$g5-dark-color: #272623;
