<div class="sas-login">
  <div class="flysas modal" id="sas-login" role="dialog" aria-modal="true" aria-labelledby="modal-title" data-onload="false">
    <div class="sas-container">
      <div class="modal-content">
        <h1 id="modal-title" class="h2 modal-title">Logga in</h1>
        <button type="button" class="btn btn-lg btn-close" data-close="true" aria-label="Close Modal">
          {{> partials/icons/svgInternal name="cl--close" text="Close modal"}}
        </button>
      </div>
    </div>
  </div>
</div>
