<h2 class="color-b3">Vacation Planner Widget</h2>

<div class="flysas-widget lowprice-calendar bg-white" data-months="8" data-filter-position="left" data-destination="skidresor"></div>
<script src="https://de-planner-widget.sasdigital.io/assets/js/planner/build.min.js" async></script>

<pre>
  <code class="language-html" encoded="true">
    &lt;div class="flysas-widget lowprice-calendar" data-months="8"&gt;&lt;/div&gt;
    &lt;script src="https://de-planner-widget.sasdigital.io/assets/js/planner/build.min.js" async&gt;&lt;/script&gt;
  </code>
</pre>
