<h2 class="color-b3">Crew Search</h2>

<h3 class="color-b3">Small card</h3>

<div class="labs-profile-card">
  <div class="selection">
    <input type="checkbox">
  </div>
  <div class="avatar">
    <div class="initials">LG</div>
  </div>
  <div class="info">
    <h4>Lalitha Gudivada</h4>
    <p>S:82 B:5 ACO:A2</p>
  </div>
  <div class="title">
    <abbr>FC</abbr>
  </div>
 </div>

 <div class="labs-profile-card">
  <div class="selection">
    <input type="checkbox">
  </div>
  <div class="avatar">
    <img src="{{assetsDirectory}}/images/avatar.png">
  </div>
  <div class="info">
    <h4>Lalitha Gudivada</h4>
    <p>S:82 B:5 ACO:A2</p>
  </div>
  <div class="title">
    <abbr>FC</abbr>
  </div>
 </div>

 <pre>
  <code class="language-html">
    <div class="labs-profile-card">
      <div class="selection">
        <input type="checkbox">
      </div>
      <div class="avatar">
        <img src="{{assetsDirectory}}/images/avatar.png">
      </div>
      <div class="info">
        <h4>Lalitha Gudivada</h4>
        <p>S:82 B:5 ACO:A2</p>
      </div>
      <div class="title">
        <abbr>FC</abbr>
      </div>
    </div>
  </code>
</pre>

<pre>
