<section class="sas-main-brand">
  <div class="sas-container">
    <div>
      {{copyrightText}}
    </div>
    <div>
      <a href="http://www.staralliance.com">{{> partials/icons/svgInternal name="b--star-alliance-dark" Text="Star Alliance"}}</a>
    </div>
  </div>
</section>
