<h2 class="color-b3">Barview Widget</h2>

<div class="flysas-widget barview" data-departure="ARN" data-destination="PMI" data-barmode="amount-in-bar"></div>
<script src="https://de-frontend-labs.sasdigital.io/search-web/js/barview/build.min.js" async></script>

<pre>
  <code class="language-html" encoded="true">
    &lt;div class="flysas-widget barview" data-departure="ARN" data-destination="PMI" data-barmode="amount-in-bar"&gt;&lt;/div&gt;
    &lt;script src="https://de-frontend-labs.sasdigital.io/search-web/js/barview/build.min.js" async&gt;&lt;/script&gt;
  </code>
</pre>