<h2 class="color-b3">Table</h2>
<h3 class="color-b3">Default table</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th scope="col">First Table Heading</th>
      <th scope="col">Table Heading Two</th>
      <th scope="col">Third Table Heading</thscope="col">
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Heading on the side</th>
      <td>Table Data one</td>
      <td>Table Data two</td>
      <td>Table Data three</td>
    </tr>
    <tr>
      <th scope="row">Heading on the side</th>
      <td>Table Data one</td>
      <td>Table Data two</td>
      <td>Table Data three</td>
    </tr>
    <tr>
      <th scope="row">Heading on the side</th>
      <td>Table Data one</td>
      <td>Table Data two</td>
      <td>Table Data three</td>
    </tr>
  </tbody>
</table>