<style>
  .tool-nav {display: none}
  .tool-header {display: none}
  .tool-main {max-width: none}
  .tool-main .tool-nav + section {padding: 0}
  .market-links {margin: 0 0 16px; display: none}
  .market-links a {margin: 0 16px 0 0}
</style>

<div class="market-links">
  <a href="/components/sas-main-header/se-sv">se-sv</a>
  <a href="/components/sas-main-header/no-no">no-no</a>
  <a href="/components/sas-main-header/dk-da">dk-da</a>
  <a href="/components/sas-main-header/en">en</a>
</div>

{{> components/sas-main-header/sas-main-header}}
