<h2 class="color-b3">Accordions</h2>

<div class="flysas-accordion" data-expanded="true">
  <div class="accordion-btn">
    <button class="btn btn-toggle" aria-expanded="false">
      Ingår bagage i SAS Go Light?
    </button>
  </div>
  <div class="accordion-content">
    <h3>SAS Go Light</h3>
    <p>SAS Go Light omfattar inget incheckat bagage. Observera att vi inte längre erbjuder kostnadsfritt bagage i SAS Go Light för medlemmar i EuroBonus Silver, Guld eller Diamant eller medlemmar i Star Alliance Gold. </p>
  </div>
</div>
<div class="flysas-accordion">
  <div class="accordion-btn">
    <button class="btn btn-toggle" aria-expanded="false">
      Kan jag resa med sportutrustning?
    </button>
  </div>
  <div class="accordion-content">
    <p>Du kan ta med de flesta typerna av sportutrustning som specialbagage, t.ex. skidor, golfbagar och cyklar. Om utrustningen omfattas av tilldelningen av incheckat bagage som ingår med din biljett kan du ta med den utan extra avgift. I annat fall måste du betala för extra bagage.</p>
    <p>Sportutrustning måste beställas och bekräftas i förväg. Du kan beställa plats för en cykel, skidor, en snowboard eller en golfbag när du bokar din resa. Du kan också göra din beställning senare på Mina bokningar.</p>
    <p>Om du planerar att resa i en grupp med fler än nio passagerare som har flera skrymmande kollin eller specialbagage, t.ex. stora hockeytrunkar eller liknande utrustning, ber vi att du alltid registrerar detta före avgången för att se till att du kan ta med all utrustning.</p>
  </div>
</div>

<pre>
  <code class="language-html">
    <div class="flysas-accordion">
      <div class="accordion-btn">
        <button class="btn btn-toggle" aria-expanded="false">
          Ingår bagage i SAS Go Light?
        </button>
      </div>
      <div class="accordion-content">
        <p>SAS Go Light omfattar inget incheckat bagage. Observera att vi inte längre erbjuder kostnadsfritt bagage i SAS Go Light för medlemmar i EuroBonus Silver, Guld eller Diamant eller medlemmar i Star Alliance Gold. </p>
      </div>
    </div>
  </code>
</pre>
