<h2 class="color-b3">Links</h2>

<h3 class="color-b3">Dark on light (default)</h3>
<div class="flexbox">

  <div class="item item-sm">
    <span class="link-box bg-white">
      <a href="#gohere">flysas.com</a>
    </span>
    <span class="description">Link on white</span>
    <dl>
      <dt>Text:</dt>
      <dd>#0159ce</dd>
      <dt>Background:</dt>
      <dd>#fff</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-g0">
      <a href="https://www.flysas.com">flysas.com</a>
    </span>
    <span class="description">Link on g0</span>
    <dl>
      <dt>Text:</dt>
      <dd>#0159ce</dd>
      <dt>Background:</dt>
      <dd>#f4f4f4</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-g1">
      <a href="https://www.flysas.com">flysas.com</a>
    </span>
    <span class="description">Link on g1</span>
    <dl>
      <dt>Text:</dt>
      <dd>#0159ce</dd>
      <dt>Background:</dt>
      <dd>#eae9e8</dd>
    </dl>
  </div>

</div>

<pre>
  <code class="language-html">
    <a href="https://www.flysas.com">flysas.com</a>
  </code>
</pre>

<h3 class="color-b3">Light on dark</h3>
<div class="flexbox">

  <div class="item item-sm">
    <span class="link-box bg-b1">
      <a href="https://www.flysas.com" class="light-on-dark">flysas.com</a>
    </span>
    <span class="description">Link on b1</span>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006ee6</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-b2">
      <a href="https://www.flysas.com" class="light-on-dark">flysas.com</a>
    </span>
    <span class="description">Link on b2</span>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#03c</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-b3">
      <a href="https://www.flysas.com" class="light-on-dark">flysas.com</a>
    </span>
    <span class="description">Link on b3</span>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#009</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-b4">
      <a href="https://www.flysas.com" class="light-on-dark">flysas.com</a>
    </span>
    <span class="description">Link on b4</span>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <span class="link-box bg-b5">
      <a href="https://www.flysas.com" class="light-on-dark">flysas.com</a>
    </span>
    <span class="description">Link on b5</span>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#003</dd>
    </dl>
  </div>

</div>

<pre>
  <code class="language-html">
    <a href="https://www.flysas.com" class="light-on-dark" id="gohere">flysas.com</a>
  </code>
</pre>