<link rel="stylesheet" href="https://www.flysas.com/v2/de-design-library/assets/css/components/sas-spin-number/build.css">
<div class="flysas-widget">
  <div class="spinning-numbers" data-digits="00527">
    <div class="number-plate">
      <div class="number-box">
        <strong class="numbers">1 2 3 4 5 6 7 8 9 0</strong>
      </div>
    </div>
  </div>
  <script src="https://www.flysas.com/v2/de-design-library/assets/js/components/sas-spin-number/build.js" async></script>
</div>
