.flip-clock {
  @include font-size(32);
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
  opacity: 0;
  transition: opacity 1s;

  &.show {
    opacity: 1;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 5px;
}

.flip-clock__days {
  display: none;
}

.flip-clock__slot {
  @include font-size(16);
}

$halfHeight: .72em;
$borderRadius: .15em;

.flip-card {
  display: block;
  position: relative;
  padding-bottom: $halfHeight;
  line-height: .95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: $halfHeight;
  color: $white-color;
  background-color: $b1-dark-color;
  padding: .25em;
  border-radius: $borderRadius $borderRadius 0 0;
  backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom {
  color: $white-color;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: $b1-color;
  border-radius: 0 0 $borderRadius $borderRadius;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -$halfHeight;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop .3s cubic-bezier(.37, .01, .94, .35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom .6s cubic-bezier(.15, .45, .28, 1);// 0.3s;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }

  0%,
  99% {
    opacity: .99;
  }

  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }

  51% {
    opacity: .99;
  }

  100% {
    opacity: .99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}
