<div class="flysas-widget flysas-timer">
  <div class="flip-clock">
    <span class="flip-clock__piece flip-clock__days">
      <strong class="flip-clock__card flip-card">
        <strong class="card__top">00</strong>
        <strong class="card__bottom" data-value="00"></strong>
        <strong class="card__back" data-value="00">
          <strong class="card__bottom" data-value="00"></strong>
        </strong>
      </strong>
      <span class="flip-clock__slot">Days</span>
    </span>
    <span class="flip-clock__piece flip-clock__hours">
      <strong class="flip-clock__card flip-card">
        <strong class="card__top">00</strong>
        <strong class="card__bottom" data-value="00"></strong>
        <strong class="card__back" data-value="00">
          <strong class="card__bottom" data-value="00"></strong>
        </strong>
      </strong>
      <span class="flip-clock__slot">Hours</span>
    </span>
    <span class="flip-clock__piece flip-clock__minutes">
      <strong class="flip-clock__card flip-card">
        <strong class="card__top">00</strong>
        <strong class="card__bottom" data-value="00"></strong>
        <strong class="card__back" data-value="00">
          <strong class="card__bottom" data-value="00"></strong>
        </strong>
      </strong>
      <span class="flip-clock__slot">Minutes</span>
    </span>
    <span class="flip-clock__piece flip-clock__seconds">
      <strong class="flip-clock__card flip-card">
        <strong class="card__top">00</strong>
        <strong class="card__bottom" data-value="00"></strong>
        <strong class="card__back" data-value="00">
          <strong class="card__bottom" data-value="00"></strong>
        </strong>
      </strong>
      <span class="flip-clock__slot">Seconds</span>
    </span>
  </div>
</div>

<h2 style="text-align: center">5 min countdown</h2>
<div class="flysas-widget flysas-timer" data-minutes="5">
  <div class="flip-clock">
    <span class="flip-clock__piece flip-clock__days">
      <strong class="flip-clock__card flip-card">00</strong>
    </span>
    <span class="flip-clock__piece flip-clock__hours">
      <strong class="flip-clock__card flip-card">00</strong>
    </span>
    <span class="flip-clock__piece flip-clock__minutes">
      <strong class="flip-clock__card flip-card">00</strong>
    </span>
    <span class="flip-clock__piece flip-clock__seconds">
      <strong class="flip-clock__card flip-card">00</strong>
    </span>
  </div>
</div>
