.sas-form-grid,
.sas-form-grid fieldset {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $margin-normal * 2;
  grid-row-gap: 0;
  align-items: start;

  fieldset,
  s4s-input {
    display: contents;
    grid-column-end: 1;
  }

  legend {
    grid-column-end: span 12;
  }

  .sas-input,
  .check-radio {
    display: block;
    width: auto;
    margin: 0 0 $margin-normal * 2;
    grid-column-end: span 12;
    min-width: 0;

    &.cvc {
      grid-column-end: span 2;
    }

    &.cvd {
      grid-column-end: span 4;
    }

    @include tablet {
      grid-column-end: span 6;

      &.short {
        grid-column-end: span 3;
      }

      &.long {
        grid-column-end: span 9;
      }

      &.full {
        grid-column-end: span 12;
      }

      &.first {
        grid-column-start: 1;
      }
    }
  }

  .check-radio {
    display: flex;
    justify-content: flex-start;
  }
}

.sas-form-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: -8px;

  > * {
    flex-grow: 1;
    margin: 0 8px 12px 0;
  }
}
