<h2 class="color-b3">Tabs</h2>

<h3 class="color-b3">Version 1</h3>
<div class="tabs">
  <div class="tablist" role="tablist" aria-label="Flights">
    <button role="tab" aria-selected="false" aria-controls="0-tab" id="tab-0">
      <span>Mon 02 Sep</span>
      <span>8980:-</span>
    </button>
    <button role="tab" aria-selected="true" aria-controls="1-tab" id="tab-1">
      <span>Tue 03 Sep</span>
      <span>6640:-</span>
    </button>
    <button role="tab" aria-selected="false" aria-controls="2-tab" id="tab-2">
      <span>Wed 04 Sep</span>
      <span>7300:-</span>
    </button>
  </div>
  <div class="tabpanel" role="tabpanel"id="0-tab" aria-labelledby="tab-0" hidden>
    Lorem ipsum
  </div>
  <div class="tabpanel" role="tabpanel" id="1-tab" aria-labelledby="tab-1">
    Dolor
  </div>
  <div class="tabpanel" role="tabpanel" id="2-tab" aria-labelledby="tab-2" hidden>
    Sit amet
  </div>
</div>
