<form class="sas-search flysas-form" action="/search">
  <div class="col-form-field focused">
    <label class="form-field">
      <span class="label">{{i18n @root.market "burgerMenu.searchText"}}</span>
      <input type="search" id="search-input">
    </label>
  </div>
  <button type="submit" class="search-submit">
    <svg class="sas-icon sas-icon-cl--search" role="img" viewBox="0 0 24 24" id="cl--search" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M16.808 14.558L21 18.75 18.75 21l-4.192-4.192a7.5 7.5 0 112.25-2.25zM10.5 15a4.5 4.5 0 100-9 4.5 4.5 0 000 9z" id="cwa"></path></g></svg>
  </button>
  <button type="button" class="close-button">
    <svg class="sas-icon sas-icon-in--close" role="img" viewBox="0 0 24 24" id="in--close" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect width="24" height="24" rx="4"></rect><g fill="currentColor"><path id="eha" d="M14.149 11.972l4.528 4.528-2.122 2.121-4.527-4.527L7.5 18.62 5.379 16.5l4.527-4.528L5.38 7.445 7.5 5.323l4.528 4.528 4.527-4.528 2.122 2.122-4.528 4.527z"></path></g></g></svg>
  </button>
</form>
