<h2>Information Icon</h2>


{{>components/sas-information-icon/sas-information-icon
    icon='cl--alertcircle'
    text='Important text'
}}

<pre>
    <code>
  {{>components/sas-information-icon/sas-information-icon
    icon='cl--alertcircle'
    text='Important text'
}}      
    </code>
</pre>