<h2 class="color-b3">Content Search Widget</h2>

<div class="flysas-widget content-search"></div>
<script src="https://de-content-search-widget.sasdigital.io/assets/js/content-search/build.min.js" async></script>

<pre>
  <code class="language-html" encoded="true">
    &lt;div class="flysas-widget content-search"&gt;&lt;/div&gt;
    &lt;script src="https://de-content-search-widget.sasdigital.io/assets/js/content-search/build.min.js" async&gt;&lt;/script&gt;
  </code>
</pre>
