<h2 class="color-b3">Buttons</h2>

<h3 class="color-b3">Large button</h3>
<div class="flexbox">

  <div class="item item-sm">
    <h4 class="h4">Normal</h4>
    <button>Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006ee6</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Hover</h4>
    <button class="hover">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0159ce</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Pressed</h4>
    <button class="active">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0087f5</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Disabled</h4>
    <button class="btn-lg" disabled>Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#757067</dd>
    </dl>
  </div>

</div>

<pre>
  <code class="language-html">
    <button>Button</button>
  </code>
</pre>

<h3 class="color-b3">Medium button</h3>
<div class="flexbox">

  <div class="item item-sm">
    <h4 class="h4">Normal</h4>
    <button class="btn-md">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006ee6</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Hover</h4>
    <button class="btn-md hover">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0159ce</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Pressed</h4>
    <button class="btn-md active">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0087f5</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Disabled</h4>
    <button class="btn-md" disabled>Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#757067</dd>
    </dl>
  </div>
</div>

<pre>
  <code class="language-html">
    <button class="btn-md">Button</button>
  </code>
</pre>


<h3 class="color-b3">Secondary button</h3>
<div class="flexbox">

  <div class="item item-sm">
    <h4 class="h4">Normal</h4>
    <button class="btn-md btn-secondary">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006ee6</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Hover</h4>
    <button class="btn-md btn-secondary hover">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0159ce</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Pressed</h4>
    <button class="btn-md btn-secondary active">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0087f5</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Disabled</h4>
    <button class="btn-md btn-secondary" disabled>Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#757067</dd>
    </dl>
  </div>

</div>
<div class="flexbox flexbox-dark">

  <div class="item item-sm">
    <h4 class="h4">Normal</h4>
    <button class="btn-md btn-secondary-negative">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#006ee6</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Hover</h4>
    <button class="btn-md btn-secondary-negative hover">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0159ce</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Pressed</h4>
    <button class="btn-md btn-secondary-negative active">Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#0087f5</dd>
    </dl>
  </div>

  <div class="item item-sm">
    <h4 class="h4">Disabled</h4>
    <button class="btn-md btn-secondary-negative" disabled>Button</button>
    <dl>
      <dt>Text:</dt>
      <dd>#fff</dd>
      <dt>Background:</dt>
      <dd>#757067</dd>
    </dl>
  </div>

</div>

<pre>
  <code class="language-html">
    <button class="btn-md btn-secondary">Button</button>
  </code>
</pre>
