<h2 class="color-b3">Fonts</h2>

<h3 class="color-b3">Scandinavian Regular</h3>
<p class="font-regular">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-regular">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Scandinavian Regular Book</h3>
<p class="font-regular-book">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-regular-book">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Scandinavian Bold</h3>
<p class="font-bold">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-bold">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Scandinavian Black</h3>
<p class="font-black">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-black">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Open Sans</h3>
<p class="font-regular open-sans">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-regular open-sans">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Open Sans Bold</h3>
<p class="font-bold open-sans">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-bold open-sans">Lorem ipsum dolor sit amet</p>
  </code>
</pre>

<h3 class="color-b3">Open Sans Black</h3>
<p class="font-black open-sans">Lorem ipsum dolor sit amet</p>
<pre>
  <code class="language-html">
     <p class="font-black open-sans">Lorem ipsum dolor sit amet</p>
  </code>
</pre>
