<h2 class="color-b3">Toggles</h2>

<h3 class="color-b3">Default</h3>
<div class="toggles">
  <div class="toggle-btns">
    <button class="btn btn-md" aria-pressed="true"><span>One Way</span></button>
    <button class="btn btn-md" aria-pressed="false"><span>Round Trip</span></button>
  </div>
</div>

<div class="toggles">
  <div class="toggle-btns upper-case">
    <button class="btn btn-md" aria-pressed="false"><span>List</span></button>
    <button class="btn btn-md" aria-pressed="true"><span>Map</span></button>
  </div>
</div>

<pre>
  <code class="language-html">
    <div class="toggles">
      <div class="toggle-btns upper-case">
        <button class="btn btn-md" aria-pressed="true"><span>One Way</span></button>
        <button class="btn btn-md" aria-pressed="false"><span>Round Trip</span></button>
      </div>
    </div>
  </code>
</pre>
